.user-menu {
  position: absolute;
  right: 25px;
  float: right;
  margin-top: 100px;
}

.user-menu a {
  font-size: 40px;
  font-weight: 700;
}

.lang-list li {
  list-style: none;
  display: inline;
  font-weight: 700;
  font-size: 35px;
  float: right;
  margin-right: 25px;
}

.img-cart {
  height: 50px;
  width: 70px;
}

h1 {
  font-weight: 800;
}

.shopping {
  font-weight: 800;
  font-size: 100px;
  margin-bottom: 100px;
}

.menu {
  width: 1000px;
  height: auto;
  overflow: auto;
  position: absolute;
  margin-left: 25%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.btn {
  width: 150px;
  margin-bottom: 10px;
}

.red-text {
  color: red;
}

label {
  display: inline-block;
  width: 250px;
  text-align: right;
}

.inputs {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.inputs label {
  text-align: center;
}

.text {
  font-size: 20px;
  font-weight: 500;
  color: #007bff;
}

.table {
  width: 1000px;
}

.pagination li {
  display: inline;
}

.form-control {
  width: max-content;
}

.categories {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.top-menu {
  font-size: 50px;
  font-weight: 800;
  word-spacing: 20px;
  margin-bottom: 50px;
}

.btn {
  width: auto;
}

