<?xml version="1.0" encoding="UTF-8" ?>

<taglib xmlns="https://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://java.sun.com/xml/ns/j2ee https://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
        version="2.0">
    <description>Welcome Tag</description>
    <tlib-version>2.1</tlib-version>
    <short-name>mytags</short-name>
    <uri>https://journaldev.com/jsp/tlds/mytags</uri>
    <tag>
        <name>welcome</name>
        <tag-class>tags.WelcomeTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>
</taglib>